@import "~scss-material-colors-variables/scss/material-colors";

$color-primary: #3da8f5;
$color-primary-500: #1e7ad7;
$color-success: #32C25A;
$color-gary: #636363;
$color-border-gary: #e5e5e5;

$color-white-f7: #f7f7f7;
$color-font-gay: #a6a6a6;

.bg-primary {
  background: $color-primary;
}

.color-danger {
  color: #E53935;
}

.color-gary {
  color: $color-gary;
}

