@import "~simditor/styles/simditor.scss";

.simditor {
  border: none;
  .simditor-toolbar > ul > li > .toolbar-item {
    &.active {
      background: transparent;
      color: $color-primary;
    }
  }
  .simditor-body {

  }
}

.post-detail-warp {
  .simditor .simditor-body {
    padding: 0;
    img {
      max-width: 100%;
    }
  }
}
